/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* colors */
:root{
    --darkCyan: hsl(185, 75%, 39%);
    --vddblue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
    font-size: 18px;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    color: var(--vddblue);
    font-family: 'Kumbh Sans', sans-serif;
}

/* section */
section{
    background-color: var(--darkCyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.card{
    width: 370px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-header{
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}

.card-body{
    padding: 0 20px 25px;
}


.img-holder{
    width: 105px;
    height: 105px;
    border-radius: 50%; 
    border: 5px solid white;
    overflow: hidden;
    margin: -55px auto 30px auto;
}

.image-holder img{
    width: 100%;
    height: auto;
    display: block;
}

.age, .city, .meta{
    color: var(--darkGray);
    font-weight: 400;
}

.name-age{
    font-size: 1.1rem;
    margin-bottom: 12px;
    font-weight: 700;
}

.age{
    font-weight: 400;
    padding: 0.2rem 0.4rem 0;
}

.city{
    font-size: 0.7rem;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 12px;
}


.card-footer{
    border-top: 1px solid hsl(0, 4%, 88%);
    display: flex;
    padding: 0 2rem 0 2rem;
}

.card-footer .item{
    display: flex;
    flex: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-footer .item .value{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.card-footer .item .meta{
    font-size: 0.6rem;
    letter-spacing: 1px;
}

/* Graphics(circles) */
.circles .c1, .circles .c2{
    position: absolute;
}

.circles .c1{
    top: -505px;
    left: -250px;
}

.circles .c2{
    bottom: -635px;
    right: -217px;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
 */